<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ride Request</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- 卡片樣式 -->
                <div class="card shadow-sm">
                    <div class="card-header bg-secondary text-white text-center">
                        <h3>New Ride Request Form</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" class="needs-validation" novalidate>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <!-- Submit Button -->
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" style="margin-right: 16px; width: 100px">Request</button>
                                <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'index' %}'">戻る</button>
                            </div>
                        </form>
                        <script>
                            // if POST check SUCCESS
                            {% if success %}
                            alert("Submit success!");
                            // redirect url
                            window.location.href = "{% url 'ride:view_ride' %}";
                            {% endif %}
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
