<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ride Sharing Service</title>
</head>
<body>
<h1> Ride Sharing Service</h1>
{% if user.is_authenticated %}
<div>Welcome! {{user.username}}!</div>

{% if not user.is_driver %}
<div>Want to be driver? <a href="{% url 'user:register_driver' %}">Click Here!</a> </div>
{% else %}
<!--temporarily show one car-->
<!--TODO: add ModelForm (model = carModel)-->
<div>Here's your cars info:</div>


<div>Has another car? Click Here!(not implemented)</div>
{% endif %}

<div><a href="{% url 'user:logout' %}">Log out</a> </div>
{% else %}
<div><a href="{% url 'user:login' %}">Log in</a></div>
<div><a href="{% url 'user:register' %}">Register</a></div>
{% endif %}
</body>
</html>