<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ride Sharing Service</title>
</head>
<body>
<h1> Ride Sharing Service</h1>
<!--if user logged in-->
{% if user.is_authenticated %}
<div>Welcome! {{user.username}}!</div>

<!--if user not driver-->
{% if not user.is_driver %}
<div>Want to be driver? <button type="button" onclick="window.location.href='{% url 'user:register_driver' %}'">Click here</button> </div>

<!--if user is driver-->
{% else %}
<!--show cars info-->
<div>Here's your cars info:</div>
<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>Vehicle Type</th>
        <th>Vehicle Number</th>
        <th>Maximum Passenger</th>
        <th>Special Vehicle Info</th>
    </tr>
    </thead>
    <tbody>
    {% for car in cars %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ car.vehicle_type }}</td>
        <td>{{ car.vehicle_number }}</td>
        <td>{{ car.max_passenger }}</td>
        <td>{{ car.sp_info }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div>Has another car to register? <button type="button" onclick="window.location.href='{% url 'user:register_driver' %}'">Click here</button></div>
{% endif %}
<!--Logout button-->
<div>
    <button type="button" onclick="window.location.href='{% url 'user:logout' %}'">Sign out</button>
</div>
{% else %}
<!--Login button-->
<div>
    Already have an RSS account?
    <button type="button" onclick="window.location.href='{% url 'user:login' %}'">Sign in</button>
</div>

<!--Register button-->
<div>
    Want to be a member?
    <button type="button" onclick="window.location.href='{% url 'user:register' %}'">Sign up</button>
</div>
{% endif %}
</body>
</html>