<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Change User Info</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <!-- Header -->
    <h1 class="text-center mb-4">User Info</h1>

    <!-- Success Message -->
    {% if is_success %}
    <div class="alert alert-success text-center" role="alert">
        Save cars info success.
    </div>
    {% endif %}

    <!-- Form -->
    <form action="" method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ forms.management_form }}
        {% for form in forms %}
        <div class="card mb-3">
            <div class="card-header">
                Car No. {{ forloop.counter }} Info
            </div>
            <div class="card-body">
                {{ form.as_p }}
            </div>
        </div>
        {% endfor %}
        <div class="text-center">
            <button type="submit" class="btn btn-primary" style="margin-right: 12px;">Save</button>
            <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'index' %}'">戻る</button>
        </div>
    </form>

    <!-- Go Back Button -->
    <div class="text-center mt-3">

    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/[email protected]/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>